<div class="main-div">
    <mat-card>
        <mat-list>
            <h3 mat-subheader>List of Writers:
                <span class="example-spacer"></span>
                <button style="float: right" mat-raised-button color="primary" (click)="openAddDialog()">Add
                    Writer</button>
            </h3>
            <div class="scroll">
                <mat-list-item *ngFor="let item of currentWritersList">
                    <mat-divider></mat-divider>
                    <mat-icon mat-list-icon>assignment</mat-icon>
                    <h4 mat-line>Name: {{item.name}}</h4>
                    <p mat-line>Email: {{item.email}} </p>
                    <p mat-line>Created: {{item.created_at | date: 'longDate'}} </p>
                    <p mat-line>Updated: {{item.updated_at | date: 'longDate'}} </p>
                    <mat-icon class="pointer" mat-list (click)="openEditDialog(item)" matTooltip="Edit Post">edit
                    </mat-icon>
                    <mat-icon class="pointer" mat-list (click)="openDeleteDialog(item)" matTooltip="Delete Post">delete
                    </mat-icon>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-card>
</div>