<mat-toolbar class="app-toolbar" color="primary">My Assignment
    <span class="example-spacer"></span>
    <span>{{this.currentUser.user_display_name}}</span>
    <!-- <button mat-button (click)="logout()">LOGOUT</button> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>{{this.currentUser.user_display_name}}</span>
        </button>
        <button mat-menu-item>
            <mat-icon>email</mat-icon>
            <span>{{this.currentUser.user_email}}</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Sign Out</span>
        </button>
    </mat-menu>
</mat-toolbar>